# Data Science Tools and Ecosystem

**Objectives:**

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
* Julia
* Python
* R
* Java Script
* C++

Some of the commonly used libraries used by Data Scientists include:

1.GGPLOT
2.PLOTY
3. LATIICE
4.LEAFLET
| Data Science Tools: |
|---------------------|
|R STUDIO |
|JUPYTER |
|GITHUB |

Below are a few examples of evaluating arithmetic expressions in Python:

In [23]:
#This a simple arithmetic expression to mutiply then add integers
#(3*4)+5
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
200/ 60

3.3333333333333335

## Author ##
Alejandro Mart√≠nez 
Author